<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
			<ref bean="stringHttpMessageConverter" />
			<ref bean="jsonHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
		<constructor-arg value="UTF-8" index="0" />
		<property name="supportedMediaTypes">
			<util:list>
				<value>text/plain;charset=UTF-8</value>
			</util:list>
		</property>
	</bean>
	<bean id="jsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<util:list>
				<value>application/json;charset=UTF-8</value>
			</util:list>
		</property>
		<property name="fastJsonConfig.serializerFeatures">
			<util:list>
				<value>WriteMapNullValue</value>
				<value>WriteDateUseDateFormat</value>
			</util:list>
		</property>
		<property name="fastJsonConfig.dateFormat" value="yyyy-MM-dd HH:mm:ss" />
	</bean>
	
	<context:component-scan base-package="com.mrathena.spring.web.admin.controller" />
	
	<!-- Swagger2 http://localhost:8080/site/swagger-ui.html -->
	<bean class="com.mrathena.spring.web.admin.config.Swagger2" />
	
	<!-- 静态资源 -->
	<!-- <mvc:resources mapping="/**" location="/"></mvc:resources> -->

	<!-- 静态资源版本管理,解决可能存在的缓存问题(MD5方式) -->
	<bean class="com.mrathena.spring.web.admin.config.UrlProvider" />
	<mvc:resources mapping="/**" location="/">
		<mvc:resource-chain resource-cache="false">
			<mvc:resolvers>
				<mvc:version-resolver>
					<mvc:content-version-strategy patterns="/**" />
				</mvc:version-resolver>
			</mvc:resolvers>
		</mvc:resource-chain>
	</mvc:resources>

	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="prefix" value="/view/"/>  -->
		<!-- <property name="suffix" value=".jsp"/> -->
	</bean>

	<!-- RestTemplate -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<util:list>
				<ref bean="stringHttpMessageConverter" />
				<ref bean="jsonHttpMessageConverter" />
			</util:list>
		</property>
	</bean>

</beans>